
<div class="jumbotron">
  <input type="text" class="form-control" placeholder="StockShortName" ng-model="sName">
  <br><br>
  <p><a ng-href class="btn btn-primary btn-sm" ng-click="predictClick(sName)" >Predict <span class="glyphicon glyphicon-eye-open"></span></a></p>
</div>
{{error}}
  <div ng-show="rslShow">
    <div ng-show="waitShow">
      <div class="progress progress-striped active">
        <div class="progress-bar progress-bar-success" role="progressbar"
             aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
             style="width: 100%;">
        </div>
      </div>
    </div>
    <div ng-show="predictionShow"  class="table">
      <div ng-show="logined"><span><button type="button" class="btn btn-default btn-xs" ng-click="follow(sName)">
        <h5><span class="glyphicon glyphicon-star">Follow</span> </h5>
      </button>
      </span></div>
      <br>
      <br>
      <table class="table">
        <tr>
          <td><b>StockName</b></td>
          <td><b>Symbol</b></td>
          <td><b>Prediction</b></td>
          <td><b>PredictExpTime</b></td>
          <td><b>Created</b></td>
        </tr>
        <tr ng-repeat="prediction in predictions">
          <td>{{prediction.stock.stockName}}</td>
          <td>{{prediction.stock.symbol}}</td>
          <td>{{prediction.predict}}</td>
          <td>{{prediction.predictExpTime}} Days</td>
          <td>{{prediction.created}}</td>
        </tr>
      </table>
      </div>
    <div ng-show="logined"><h3><span class="label label-default">Tips:You can follow this stock so you can view it at any time！</span></h3></div></div>
  </div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        Please wait a minute!
      </div>
    </div>
  </div>
</div>
